# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Miscellaneous
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env*.local

# Firebase
.firebase

# VSCode settings except for the shared settings file
.vscode/*
!.vscode/settings.json
